@import url(cabecalho.css);
@import url(sobre-nos.css);
@import url(vagas.css);
@import url(feedbacks.css);
@import url(rodape.css);
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --vermelho:  #8E2424;
    --cinza-escuro: #667085;
    --branco: #ffffff;
    --preto: #101828;
    --footer: #F9FAFB;
    --cinza-claro: #98A2B3;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}